@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?dudwo0');
    src:    url('fonts/icomoon.eot?dudwo0#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?dudwo0') format('truetype'),
        url('fonts/icomoon.woff?dudwo0') format('woff'),
        url('fonts/icomoon.svg?dudwo0#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    
    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-profile-female:before {
    content: "\e904";
}
.icon-facebook2:before {
    content: "\e900";
}
.icon-whatsapp:before {
    content: "\e901";
}
.icon-twitter:before {
    content: "\e902";
}
.icon-youtube2:before {
    content: "\e903";
}
form{
	width:300px;
	margin:auto;
	
}
.middle{
	width:inherit;
    margin-left: 40%;
}
.middle-button{
	margin-left: 35%;
}
.well{
	margin:auto;
	margin-top:20%;
}


.hide-show{
  width: 94%;
  margin: -1.7em 21% 0 90.5%;
  position: relative;
  z-index: 5;
  cursor: pointer;
}
#wishes-fluid-container{
            background-color: #f05f40;
            
}
#moments-fluid-container{
    background-color: lightgray;
}

.page-header h2{
   color: white;
    
}
.page-header h2 small{
    color:oldlace;
}
blockquote p{
    color: oldlace;
    font-family:monospace;
}
blockquote footer{
    color:bisque;
}
#page-footer{
     background-color:#000;
    padding:40px;
}
#page-footer a{
    color:whitesmoke;
}
#page-footer{
    color:whitesmoke;
}
#moments h2{
   color: black;
    
}
#moments h2 small{
    color:gray;
}
.p-justify{
    text-align: justify;
}
hr.small{
    width:30px;
}
.col-sm-2.no-padding{
    padding-left: 20px;
}
