<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="css/souvik-creative.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    
    <script src="js/angular.js"></script>
    <script src="js/script.js"></script>
	<title>Login</title>
	<meta name="description" content="Login">
	<!-- Latest compiled and minified CSS -->
</head>
<body ng-app="myModule">
	<!-- Main Container | START -->
	<nav class="navbar navbar-default navbar-fixed-top affix" id="my-navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                
                <a href="" class="navbar-brand"><span class="icon-profile-female" style="font-size: 25px;"></span></a>
                
            </div><!--Navbar Header-->
            
        </div><!--Container End-->
    </nav><!--Navbar End-->
    <div class="container" ng-controller="myController">
    	<div class="row">
    		<div class="col-md-8 col-md-offset-2">
    			<div class="well">
    				<form>
    					
    					<div class="form-group">
    						<span class="icon-profile-female middle" style="font-size: 40px;"></span>
    					</div>
    					<div class="form-group">
    						<input type="text" placeholder="UserName" required ng-model="username" id="txtUserName" class="form-control">
    					</div>
    					<div class="form-group">
    						<input type="{{type}}" placeholder="Password" required ng-model="password" id="txtPassword" class="form-control">
    						<div class="hide-show" ng-click="togglePass()">
       							 <span class="glyphicon glyphicon-eye-open" ng-hide="!showHidePassword()"></span>
       							 <span class="glyphicon glyphicon-eye-close" ng-hide="showHidePassword()"></span>
      						</div>
    					</div>
    					<br>
    					<div class="form-group">
    						<button class="btn btn-primary middle-button" ng-click="myFunc()">Sign In</button>
    					</div>
    				</form>
    			</div>
    		</div>
    	</div>
    </div>
    <!-- Main Container | END -->
    
    <!-- Latest compiled and minified JavaScript -->
	

</body>	
</html>
