<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="css/souvik-creative.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    
    <script src="js/angular.js"></script>
    <script src="js/script.js"></script>
	<title>Login</title>
	<meta name="description" content="Login">
	<!-- Latest compiled and minified CSS -->
</head>
<body style="background-color: black !important;" data-spy="slide"  data-target="#my-navbar" >
	<!-- Main Container | START -->
	<nav class="navbar navbar-default navbar-fixed-top affix" id="my-navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                
                <a href="#" class="navbar-brand"><span class="icon-profile-female" style="font-size: 25px;"></span></a>
                
            </div><!--Navbar Header-->
            
        </div><!--Container End-->
    </nav><!--Navbar End-->
    <div class="container" ng-app="myModule">
    	<div class="row">
    		<div class="col-md-8 col-md-offset-2">
    			<div class="well">
    				<form  ng-controller="myController">
    					
    					<div class="form-group">
    						<span class="icon-profile-female middle" style="font-size: 40px;"></span>
    					</div>
    					<div class="form-group">
    						<input type="text" placeholder="UserName" required ng-model="username" id="txtUserName" class="form-control">
    					</div>
    					<div class="form-group">
    						<input type="{{type}}" placeholder="Password" required ng-model="password" id="txtPassword" class="form-control">
    						<div class="hide-show" ng-click="togglePass()">
       							 <span class="glyphicon glyphicon-eye-open" ng-hide="!showHidePassword()"></span>
       							 <span class="glyphicon glyphicon-eye-close" ng-hide="showHidePassword()"></span>
      						</div>
    					</div>
    					<br>
    					<div class="form-group">
    						<button class="btn btn-primary middle-button" ng-click="myFunc()">Sign In</button>
    					</div>
    				</form>
    			</div>
    		</div>
    	</div>
    <!-- Main Container | END -->
    </div>
    <footer id="page-footer">
        <br><br>
         <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Stay Connected!</h2>
                    <hr class="small">
                    
                </div>
                <div class="col-lg-2 col-lg-offset-2 text-center">
                    <i class="glyphicon glyphicon-phone"></i>
                    <p><a href="tel:09730137857">09730137857</a></p>
                </div>
                <div class="col-lg-2 text-center">
                    <i class="icon-facebook2"></i>
                    <p><a href="https://www.facebook.com/souvikch1">Facebook</a></p>
                </div>
                <div class="col-lg-2 text-center">
                    <i class="glyphicon glyphicon-envelope"></i>
                    <p><a href="mailto:souvikgenius1@gmail.com">souvikgenius1@gmail.com</a></p>
                </div>
                
                <div class="col-lg-2 text-center">
                    <i class="icon-twitter"></i>
                    <p><a href="http://www.twitter.com/souvikcmusic">Twitter</a></p>
                </div>
            </div>
        </div>
        
        <div class="container text-center">
            <br><br>
            <br>
			<a href="#" class="btn btn-primary btn-xl page-scroll"><span class="glyphicon glyphicon-chevron-up"></span></a>
      </div><!-- end Container-->
      

    </footer> 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  
    <!-- Latest compiled and minified JavaScript -->
	

</body>	
</html>
